/* Import Fonts */
@font-face {
    font-family: 'OpenSans-CondensedLight';
    src: url('fonts/opensans-condlight-webfont.eot');
    src: url('fonts/opensans-condlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condlight-webfont.woff2') format('woff2'),
         url('fonts/opensans-condlight-webfont.woff') format('woff'),
         url('fonts/opensans-condlight-webfont.ttf') format('truetype'),
         url('fonts/opensans-condlight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'Ubuntu-Bold';
    src: url('fonts/ubuntu-b-webfont.eot');
    src: url('fonts/ubuntu-b-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ubuntu-b-webfont.woff2') format('woff2'),
         url('fonts/ubuntu-b-webfont.woff') format('woff'),
         url('fonts/ubuntu-b-webfont.ttf') format('truetype'),
         url('fonts/ubuntu-b-webfont.svg#ubuntubold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'OpenSans-CondensedLightItalic';
    src: url('fonts/opensans-condlightitalic-webfont.eot');
    src: url('fonts/opensans-condlightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-condlightitalic-webfont.woff2') format('woff2'),
         url('fonts/opensans-condlightitalic-webfont.woff') format('woff'),
         url('fonts/opensans-condlightitalic-webfont.ttf') format('truetype'),
         url('fonts/opensans-condlightitalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Stage */

#stage {
    width: 100%;
    height: 850px;
}

/* Elements */

#fb {
    transform-origin: 172px 200px;
}
#fb-badge {
    transform-origin: 170px 365px;
}

#fb-title {
    transform-origin: 171px 46px;
}
#fb-details {
    transform-origin: 165px 53px;
}

#google {
    transform-origin:265px 200px;
}
#google-badge {
    transform-origin: 340px 365px;
}

#google-title {
    transform-origin: 235px 46px;
}
#google-details {
    transform-origin: 165px 53px;
}

#seo {
    transform-origin:457px 200px;
}
#seo-badge {
    transform-origin: 510px 365px;
}

#seo-title {
    transform-origin: 454px 46px;
}
#seo-details {
    transform-origin: 165px 53px;
}

#googlelocal {
    transform-origin:457px 200px;
}
#googlelocal-badge {
    transform-origin: 680px 365px;
}

#googlelocal-title {
    transform-origin: 454px 46px;
}
#googlelocal-details {
    transform-origin: 165px 53px;
}

#show {
    transform-origin:457px 200px;
}
#show-badge {
    transform-origin: 825px 365px;
}

#show-title {
    transform-origin: 454px 46px;
}
#show-details {
    transform-origin: 165px 53px;
}

/* Intro Animation */
@keyframes blue-border {
    0% {
        transform: translateX(220px);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(220px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes title-bg {
    0% {
        transform: translateX(-220px);
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateX(-220px);
    }
    100% {
        transform: translateX(0px);
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes grow-y {
    0% {
        transform: scaleY(0);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes grow-x {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}
@keyframes grow {
    0% {
        transform: scale(0, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

/* Hover Animations */

[id$=badge] { /* Any element with an id that ends in "badge" */
    transform: scale(0.6, 0.6);
}
[id$=title] {
    transform: scale(1.8) translate(0px, 48px);
    display:none;
}
[id$=details] {
    transform: scale(0, 0);
}

#timeline > g:hover [id$=badge], #timeline > g:hover [id$=details] {
    transform: scale(1, 1);
}
#timeline > g:hover [id$=title] {
    transform: scale(1) translate(0px, 0px);
    display:block;
}
[id$=badge], [id$=title], [id$=details] {
    transition: transform 0.25s ease-in-out;
}
#timeline > g:hover [id$=icon] {
    animation: fade-out;
    display:none;
}

/* Anmiation Sequence */

.svgLoaded #logo {
    animation: fade-in 0.5s ease-in-out;
}


.svgLoaded #intro-text {
    animation: grow-y 0.8s ease-in-out 1.25s;
    transform-origin: 512px 300px;
    animation-fill-mode: backwards;
}

.svgLoaded #line {
    animation: grow-y 0.8s ease-in-out 1.25s;
    transform-origin: 512px 300px;
    animation-fill-mode: backwards;
}

.svgLoaded #bracket-left {
    animation: grow-x 0.8s ease-in-out 1.55s;
    transform-origin: 512px 300px;
    animation-fill-mode: backwards;
}

.svgLoaded #bracket-right {
    animation: grow-x 0.8s ease-in-out 1.75s;
    transform-origin: 512px 300px;
    animation-fill-mode: backwards;
}

.svgLoaded #quote {
    animation: fade-in 0.8s ease-in-out 2s;
    transform-origin: 512px 300px;
    animation-fill-mode: backwards;
}

.svgLoaded #person_1_ {
    animation: grow-x 0.8s ease-in-out 2.2s;
    transform-origin: 512px 300px;
    animation-fill-mode: backwards;
}

