/* ###### MOBILE STYLES ######## */

@media only screen and (max-width: 40em) 
{ 

h1, h2, h3, h4, ,h5 ,h6, p, li
{

text-align:center; 
	
}
    
h2
{
     
 font-size:2.4rem;
        
}

header
{
	
	padding:0px;
	
}

.top-bar
{
	
	height:45px;
	
}
	

.top-bar-section ul.right
{

margin-top:0;
	
}

section#hero
{

padding-top:10px;
	
}

h1.hero
{

font-size:2.2rem;
	
}

p.lead
{

line-height:1.1;

font-size:1.1rem;
	
}

.center-button
{

width:100%;
	
}

button, .button
{

display:block;
	
}

section#hero
{

min-height:0;
    
background-size:100%;
    
    background-position:0 295px;
    
    padding-bottom:100px;
	
}

.top-bar .title-area
{

width:100%;	
	
}

.content
{

padding:50px;
	
}
    
.row.content {
    padding: 50px 80px 100px;
}
    
    .toggle-topbar.menu-icon
    {
     
        margin-right:20px;
        
    }
    
 .top-bar .toggle-topbar.menu-icon a span:after
    {
    box-shadow:0 0 0 3px white, 0 10px 0 3px white, 0 20px 0 3px white;
        
    width:30px;
        
    }
    
    .button-align
{
 
    margin-top:0%;
    
    text-align:center;
    
}
    
    nav.top-bar
    {
     
        transition: height .33s ease;
        
    }
    
    .top-bar.expanded
    {
     
            transition: height .33s ease;
        
        height:380px;
        
    }
    
    .top-bar .name h1 a {
    color: white;
    display: block;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 25px;
    width: 75%;
}
    
.top-bar.expanded .title-area
{
        
    background:#22A5D2;
    
}
    
figure
    {
    
        max-height:250px;
    
}
    
    figure h2
    {
     
        font-size:1.6rem;
        
    }
    
    .top-bar-section li:not(.has-form) a:not(.button) {
    background: none repeat scroll 0 0 #22a5d2;
    font-size: 1.4em;
    padding: 15px 25px;
}
    
    .slope
    {
     
        margin:0 -60px;
        
    }
    
    .mobile-content {
    padding: 20px 80px 200px !important;
}
    
    figure.our-work-item ul {
    opacity: 1;
    padding: 0;
        transform:scale(1);

}
    
    figure.our-work-item .tags > li
    {
     
        
        margin:2px;
    }
    
    footer .content {
    padding: 10px;
}
    
    .content p {
    font-size: 10px;
}
    
    footer .inline-list > li {
    display: block;
    font-size: 12px;
    text-align: left;
    width: 100%;
}
    
  

}


/* ###### TABLETS STYLES ######## */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

    header
    {
     
        padding:25px 20px;
        
    }
.top-bar-section ul.right
{
   
    margin-top:0px;
    
}
    
.top-bar-section li:not(.has-form) a:not(.button)
{
        
     font-size:1.1em;   
}
    
}

/* ###### EXTRA LARGE SCREEN STYLES ######## */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
.row.content
{
  
padding: 130px 40px 180px;    
    
}
    
}
