/* ###### MOBILE STYLES ######## */

@media only screen and (max-width: 40em) 
{ 

h1, h2, h3, h4, ,h5 ,h6, p, li
{

text-align:center; 
	
}

header
{
	
	padding:0px;
	
}

.top-bar
{
	
	height:45px;
	
}
	

.top-bar-section ul.right
{

margin-top:0;
	
}

section#hero
{

padding-top:10px;
	
}

h1.hero
{

font-size:2.2rem;
	
}

p.lead
{

line-height:1.1;

font-size:1.1rem;
	
}

.center-button
{

width:100%;
	
}

button, .button
{

display:block;
	
}

section#hero
{

min-height:0;
	
}

.top-bar .title-area
{

width:100%;	
	
}

.content
{

padding:50px;
	
}
    
.row.content {
    padding: 100px 80px 180px;
}

}