/* ###### MOBILE STYLES ######## */

@media only screen and (max-width: 40em) 
{ 

h1, h2, h3, h4, ,h5 ,h6, p, li
{

text-align:center; 
	
}
    
h2
{
     
 font-size:2.4rem;
        
}

header
{
	
	padding:0px;
	
}

.top-bar
{
	
	height:45px;
	
}
	

.top-bar-section ul.right
{

margin-top:0;
	
}

section#hero
{

padding-top:10px;
	
}

h1.hero
{

font-size:2.2rem;
	
}

p.lead
{

line-height:1.1;

font-size:1.1rem;
	
}

.center-button
{

width:100%;
	
}

button, .button
{

display:block;
	
}

section#hero
{

min-height:0;
    
background-size:100%;
    
    background-position:0 295px;
    
    padding-bottom:100px;
	
}

.top-bar .title-area
{

width:100%;	
	
}

.content
{

padding:50px;
	
}
    
.row.content {
    padding: 100px 80px 180px;
}
    
    .toggle-topbar.menu-icon
    {
     
        margin-right:20px;
        
    }
    
 .top-bar .toggle-topbar.menu-icon a span:after
    {
    box-shadow:0 0 0 3px white, 0 10px 0 3px white, 0 20px 0 3px white;
        
    width:30px;
        
    }
    
    .button-align
{
 
    margin-top:0%;
    
    text-align:center;
    
}

}