/* ###### MOBILE STYLES ######## */

@media only screen and (max-width: 40em) 
{ 

h1, h2, h3, h4, ,h5 ,h6, p, li
{

text-align:center; 
	
}
    
h2
{
     
 font-size:2.4rem;
        
}

header
{
	
	padding:0px;
	
}

.top-bar
{
	
	height:45px;
	
}
	

.top-bar-section ul.right
{

margin-top:5px;
	
}

section#hero
{

padding-top:10px;
	
}

h1.hero
{

font-size:2.2rem;
	
}

p.lead
{

line-height:1.1;

font-size:1.1rem;
	
}

.center-button
{

width:100%;
	
}

button, .button
{


	
}
    
.button-center-wrapper-inner {

    width: 100%;
}

section#hero
{

min-height:0;
    
background-size:100%;
    
    background-position:0 295px;
    
    padding-bottom:100px;
	
}

.top-bar .title-area
{

width:100%;	
	
}

.content
{

padding:50px;
	
}
    
.row.content {
    padding: 50px 80px 100px;
}
    
    .toggle-topbar.menu-icon
    {
     
        margin-right:20px;
        
    }
    
 .top-bar .toggle-topbar.menu-icon a span:after
    {
    box-shadow:0 0 0 3px white, 0 10px 0 3px white, 0 20px 0 3px white;
        
    width:30px;
        
    }
    
    .button-align
{
 
    margin-top:0%;
    
    text-align:center;
    
}
    
    nav.top-bar
    {
     
        transition: height .33s ease;
        
    }
    
    .top-bar.expanded
    {
     
            transition: height .33s ease;
        
        height:380px;
        
    }
    
    .top-bar .name h1 a {
    color: white;
    display: block;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 25px;
    width: 75%;
}
    
.top-bar.expanded .title-area
{
        
    background:#22A5D2;
    
}
    
figure
    {
    
        max-height:250px;
    
}
    
    figure h2
    {
     
        font-size:1.6rem;
        
    }
    
    .top-bar-section li:not(.has-form) a:not(.button) {
    background: none repeat scroll 0 0 #22a5d2;
    font-size: 1.4em;
    padding: 15px 25px;
}
    
    .slope
    {
     
        margin:0 -60px;
        
    }
    
    .mobile-content {
    padding: 20px 80px 200px !important;
}
    
    figure.our-work-item ul {
    opacity: 1;
    padding: 0;
        transform:scale(1);

}
    
    figure.our-work-item .tags > li
    {
     
        
        margin:2px;
    }
    
    footer .content {
    padding: 10px;
}
    
    .content p {
    font-size: 16px;
}
    
    footer .reduced-padding .inline-list > li {
    display: block;
    font-size: 12px;
    text-align: left;
    width: 100%;
}
    
    .social-icons .inline-list li {
    margin-left: 0;
}
    
    .further-info + [data-readmore-toggle]
{
    
 width:100% !important;   
    
}
    button, .button
    {
     
        width:100%;
        
    }
    
    /* ###### MARKETING ######### */

.marketing-mobile
{
 
 padding:0px !important;   
    
}

.marketing-mobile p , .marketing-mobile h4
{
 
    color:#fff !important;
    
}

.facebook
{
    
    background:#507CBE;
    
    border:3px solid 4972AD;  
    
}   
    
#whoarewe #whoarewe > a, #branding #branding > a, #webdesign #webdesign > a, #marketing #marketing > a, #hireus #hireus > a
    {
       
        box-shadow:0;       
        
    }
    


}


/* ###### TABLETS STYLES ######## */
@media only screen and (min-width: 40.063em) and (max-width: 64em) { 

    header
    {
     
        padding:25px 20px;
        
    }
.top-bar-section ul.right
{
   
    margin-top:5px;  
    
}
    
    .top-bar-section ul li
    {
     
        margin:2px 7px 0 0;
        
    }
    
    .row.content {
    padding: 100px 80px 180px;
}
    
.top-bar-section li:not(.has-form) a:not(.button)
{
        
     font-size:1.1em;   
}
    
    figure img
    {
    
        min-height:150px;
        
    }
    
    #lawnperfection svg, #aquaair svg
    {
     
        width:800px;
        
    }
    
    p, a, li
    {
     
        letter-spacing: 0.2px;
        
    }
    
    input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea {
    border: 10px solid #fff;
    font-size: 2rem;
    height: 4.5rem;
}
    
    select {
    font-size: 2rem;
    font-weight: bold;
    height: 4rem;
}
    

    
}


/* Potrait Styles */

@media only screen and (min-width: 40.063em) and (max-width: 64em) and (orientation:portrait)  {

section#hero
    {
     
        padding-bottom:250px;
        
    }
    
    .top-bar-section ul
    {
        
     font-size:10px;   
        
    }
    
    .top-bar-section ul.right
    {
     
        margin-top:-12px;
        
    }
    
    .row.content {
    padding: 100px 140px 180px;
}


}

/* ###### EXTRA LARGE SCREEN STYLES ######## */
@media only screen and (min-width: 90.063em) and (max-width: 120em) { 
.row.content
{
  
padding: 150px 40px 350px;
    
}
    
    figure img
    {
     
        width:100%;
        
    }
    
    .slope
    {
     
        margin:0 -5%
        
    }
    
.row
 {
     
        max-width:80rem;
        
 }
    
    h1.hero
    {
     
        font-size:5rem;
        
    }
    
    h2
    {
        
     font-size:4.4rem;   
    }
    
    h3
    {
     
        font-size:2.3rem;
        
    }
    
    button, .button
    {
     
        font-size:30px;
        
    }
      
    p
    {
        
        font-size:1.6rem;
        
    }
    
    p.lead
    {
     
        font-size:2rem;
        
    }
    
    .top-bar-section li:not(.has-form) a:not(.button) {
    background: none repeat scroll 0 0 #22a5d2;
    font-size: 1.8em;
    padding: 20px 30px;
}
    
    section#hero
    {
       
        background:url("/img/pmp-office.jpg") no-repeat scroll center 300px / 1200px 450px rgba(0, 0, 0, 0);
        
        min-height:680px;
        
    }
    
    #lawnperfection svg, #aquaair svg
    {
        
     width:1300px !important;   
        
    }
    
       input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"] {
    border: 10px solid #fff;
    font-size: 2rem;
    height: 4.5rem;
}
    
    select {
    font-size: 2rem;
    font-weight: bold;
    height: 4rem;
}
        
        
    
}
