/* ############################
#
#	PUSH MY PROFILE V1
#	Author:Nick Hoyle
#	Portfolio: nickhoyle.co.uk
#
############################### */

/* #### CLASSES #### */

/* COLOURS */
.blue
{

background:#22A5D2;
	
}

.orange
{

background:#F8981D !important;
	
}

.white
{

background:#fff;
	
}

.clear
{
 
    padding:0 !important;
        
    /*margin:0 !important;*/
    
}

.padding-bottom-clear
{
 
    padding-bottom:70px !important;
    
}

.padding-bottom-none
{
 
    padding-bottom:0 !important;
}

.button-align
{
 
    margin-top:4%;
    
}

hr
{
 
    border-width:10px;
    
    border-color:#fff;
    
}



/* #### FONTS #### */
@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);


/* #### GENERAL STYLES ##### */
body
{
	
background:#22A5D2;	

font-family: 'Open Sans Condensed', sans-serif;

color:#fff;

}

/* #### TEXT ##### */

p, a, li
{

font-family: 'Open Sans Condensed', sans-serif;

color:#fff;
	
}

h1, h2, h3, h4, h5, h6
{

font-family: 'Ubuntu', sans-serif;

color:#fff;
	
}

h1.upper, h2.upper, h3.upper, h4.upper, h5.upper, h6.upper
{
	
text-transform:uppercase;
	
}

h1.hero
{
	
font-size:4rem;

font-weight:bold;

letter-spacing:-0.06em;
	
}

h2 {
    font-size: 3.4rem;
    font-weight: bold;
    letter-spacing: -0.06em;
}

p.lead
{

font-size:1.6rem;

letter-spacing:0.125em;

text-align:center;
	
}

.orange-text
{

color:#F8981D;
	
}

/* ######### BUTTONS ########## */
button, .button {
	
    background: #F8981D;
    border: medium none;

    cursor: pointer;
    display: inline-block;
    outline: medium none;
    padding: 25px 60px;
    position: relative;
    transition: all 0.3s ease 0s;
font-family: 'Ubuntu', sans-serif;
font-size:22px;
	 border-radius: 5px;
    box-shadow: 0 6px #7c5b30;
    color: #fff;
    transition: none 0s ease 0s 
}

button:focus, .button:focus, button:hover, .button:hover
{

top:-2px;

box-shadow: 0 8px #7c5b30;

background: #F8981D;
	
}

.center-button
{

    margin: 0 auto;
	
    width: 30%;
	
}

.center-button .button
{

width:100%;	
	
}


/* ######### HEADER ########### */
header
{
	
	background:#22A5D2;
	
	padding:25px 50px;
	
}

.top-bar .title-area
{

width:20%;	
	
}

.title-area img {
	
    margin-left: 30px;
	
    width: 100%;
	
}

/* ###### NAVIGATION ######### */

.top-bar {

	background: none repeat scroll 0 0 #22A5D2;

	height:100px;

}


.top-bar-section ul.right
{

border-bottom:15px solid #fff;
	
}

.top-bar-section ul.right
{

margin-top:15px;
	
}

.top-bar-section li:not(.has-form) a:not(.button)
{
	
background:#22A5D2;

font-size:1.4em;

padding:10px 20px;
	
}

.top-bar-section li.active:not(.has-form) a:not(.button)
{

padding:10px 20px;

background:#ffffff;

color:#F8981D;
	
}

.top-bar-section li:not(.has-form) a:hover:not(.button)
{


	
}

/* ###### HERO ############# */

section#hero 
{
	
min-height:580px;

padding-top:30px;

/* background:url("/img/svg/pmp_office.svg") no-repeat scroll center 250px rgba(0, 0, 0, 0); */
    background:url("/img/pmp-office.jpg") no-repeat scroll center 230px / 1200px 450px rgba(0, 0, 0, 0);

background-size: 1200px 450px;
    

	
}

/* SECTIONS */

.container
{
display:block;
width:100%;
overflow:hidden;
padding-top:50px;
	
}

.slope
{

margin:0 -50px;
-webkit-transform-origin:left center;
-moz-transform-origin:left center;
-0-transform-origin: left center;
transform-origin: left center;
	
}

.slope:nth-child(odd)
{

background-color:#fff;
-webkit-transform:rotate(5deg);
-moz-transform:rotate(5deg);
-o-transform: rotate(5deg);
-ms-transform:rotate(5deg);
transform: rotate (5deg);
margin-top:-200px;
	
}


.slope:nth-child(even)
{

background-color:#22A5D2;
-webkit-transform:rotate(-5deg);
-moz-transform:rotate(-5deg);
-o-transform: rotate(-5deg);
-ms-transform:rotate(-5deg);
transform: rotate (-5deg);
	
}


.slope:nth-child(odd) .content
{

background-color:transparent;
-webkit-transform:rotate(-5deg);
-moz-transform:rotate(-5deg);
-o-transform: rotate(-5deg);
-ms-transform:rotate(-5deg);
transform: rotate (-5deg);
	
}

.slope:nth-child(even) .content
{

background-color:transparent;
-webkit-transform:rotate(5deg);
-moz-transform:rotate(5deg);
-o-transform: rotate(5deg);
-ms-transform:rotate(5deg);
transform: rotate (5deg);
	
}

.slope:nth-child(odd) .content h1, .slope:nth-child(odd) .content h2, .slope:nth-child(odd) .content h3, .slope:nth-child(odd) .content h4, .slope:nth-child(odd) .content h5, .slope:nth-child(odd) .content h6, .slope:nth-child(odd) .content p, .slope:nth-child(odd) .content li, .slope:nth-child(odd) .content a
{

color:#666;
	
}

.slope:nth-child(even)
{

background-color:#22A5D2;
-webkit-transform:rotate(-5deg);
-moz-transform:rotate(-5deg);
-o-transform: rotate(-5deg);
-ms-transform:rotate(-5deg);
transform: rotate (-5deg);
	
}

.slope:first-child
{
	
	margin-top:0px;
	
}

.content
{

margin:0 auto;

padding:130px 100px 250px 100px;
	
}

.content.reduced-padding
{
   
    padding:0px 100px 10px !important;
    
}


/* ######## PORTOFILO ####### */

.row.content
{

padding: 100px 40px 180px;
	
}

.row.content
{
  
padding: 130px 40px 180px;    
    
}


.our-work ul, .our-work li
{    
    padding:0;
    margin:0;    
}




figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 0px 1%;
	/* min-width: 320px; */
	max-width: 600px;
	max-height: 360px;
	width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

figure figcaption::before,
figure figcaption::after {
	pointer-events: none;
}

figure figcaption,
figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

figure h2 {
	word-spacing: 0.15em;
	font-weight: 100;
    font-size:2rem;
}

figure h2 span {
	font-weight: 600;
}

figure h2,
figure p {
	margin: 0;
}

figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.our-work-item {
	background: #030c17;
}

figure.our-work-item img {
	opacity: 0.9;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.our-work-item figcaption::before {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 30px rgba(255,255,255,0.2);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(1.4,1.4,1);
	transform: scale3d(1.4,1.4,1);
}

figure.our-work-item h2 {
	margin: 2% 0 10px 0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

figure.our-work-item p {
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}

figure.our-work-item .tags > li {
    background: none repeat scroll 0 0 #f8981f;
    color: #fff;
    margin: 10px;
    padding: 5px;
    font-size:0.8rem;
}

figure.our-work-item ul
{
padding: 0.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
    
}

figure.our-work-item:hover h2 {
	-webkit-transform: scale(0.9);
	transform: scale(0.9);
}

figure.our-work-item:hover figcaption::before,
figure.our-work-item:hover p, figure.our-work-item:hover ul {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

figure.our-work-item:hover figcaption {
	background-color: rgba(58,52,42,0);
}

figure.our-work-item:hover img {
	opacity: 0.4;
}

/* OUR TEAM */
.our-team li, our-team p, our-team a, our-team h3
{
 
    text-align:center;
    
}

.our-team p
{
 
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: -0.06em;

    
}







